<div class="customer-register">
  <header class="customer-register__header">
    <h2 class="customer-register__title">Registro de Clientes</h2>
    <p class="customer-register__subtitle">
      Ingrese la información requerida para el alta del sistema.
    </p>
  </header>

  <form (submit)="onSubmit($event)" class="customer-form">
    <div class="customer-form__grid">
      <bog-form-field
        label="Tipo de Documento"
        inputId="documentType"
        [controlState]="registerForm.documentType()"
      >
        <select id="documentType" [formField]="registerForm.documentType">
          <option value="">Seleccione un tipo</option>
          @for (doc of documentTypes(); track doc.id) {
            <option [value]="doc.id">{{ doc.name }}</option>
          }
        </select>
      </bog-form-field>

      <bog-form-field
        label="Número de Documento"
        inputId="documentNumber"
        [controlState]="registerForm.documentNumber()"
      >
        <input
          id="documentNumber"
          type="text"
          [formField]="registerForm.documentNumber"
          placeholder="Ej: 10203040"
        />
      </bog-form-field>

      <div class="customer-form__col-full">
        <bog-form-field
          label="Nombre Completo"
          inputId="fullName"
          [controlState]="registerForm.fullName()"
        >
          <input
            id="fullName"
            type="text"
            [formField]="registerForm.fullName"
            placeholder="Nombre completo"
          />
        </bog-form-field>
      </div>

      <div class="customer-form__col-full">
        <bog-form-field label="Email" inputId="email" [controlState]="registerForm.email()">
          <input
            id="email"
            type="email"
            [formField]="registerForm.email"
            placeholder="correo@banco.com"
          />
        </bog-form-field>
      </div>
    </div>

    <div class="customer-form__actions">
      <bog-button variant="ghost" (clicked)="resetForm()" [disabled]="isLoading()">
        Cancelar
      </bog-button>

      <div class="actions-group">
        <bog-button
          type="submit"
          variant="accent"
          [isLoading]="isLoading() && nextStep() === 'list'"
          [disabled]="isLoading() && nextStep() !== 'list'"
          (clicked)="setNextStep('list')"
        >
          Guardar
        </bog-button>

        <bog-button
          type="submit"
          variant="primary"
          [isLoading]="isLoading() && nextStep() === 'createAccount'"
          [disabled]="isLoading() && nextStep() !== 'createAccount'"
          (clicked)="setNextStep('createAccount')"
        >
          Guardar y Abrir Cuenta
        </bog-button>
      </div>
    </div>

    @if (showSuccess()) {
      <div class="customer-form__toast">¡Cliente registrado exitosamente!</div>
    }
  </form>
</div>
