@use 'styles/variables' as var;

.bog-info-block {
  background-color: var.$bdb-gray-bg;
  padding: var.$spacing-sm;
  border-radius: var.$border-radius-md;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: 1px solid var.$bdb-gray-border;

  &__label {
    font-size: 0.85rem;
    color: var.$bdb-text-muted;
    font-weight: 500;
  }

  &__value {
    font-weight: 700;
    color: var.$bdb-blue-primary;
    font-family: monospace;
    font-size: 1.1rem;
    word-break: break-all;
  }
}
