@use 'styles/variables' as var;

.bog-loading {
  text-align: center;
  padding: var.$spacing-lg;
  color: var.$bdb-blue-primary;
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;

  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(var.$bdb-blue-primary, 0.1);
    border-top-color: var.$bdb-blue-primary;
    border-radius: 50%;
    margin: 0 auto 1rem;
    animation: spin 1s linear infinite;
  }
}
